.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  justify-content: center;
  padding: 1rem;
}

.post-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #F8FAFC;
  max-width: 450px;
}

.post-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  flex: 0 0 auto;
}

mat-card-content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card {
  margin: 0 auto;
  width: 100%;
  background-color: #F8FAFC;
}

.back-button {
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-left: 3rem;
}

mat-card-actions, .back-button {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #ddd;
}

mat-card-actions button, .back-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
